<div class="scriptHub">
    <script type="text/javascript" src="{{'/static/libs/jquery/jquery-1.10.2.min.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    <script type="text/javascript" src="{{'/static/libs/bootstrap/bootstrap.min.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    <script type="text/javascript" src="{{'/static/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
    {% for script in page.scripts %}<script type="text/javascript" src="{{'/static/js/' | prepend:site.baseurl | append: script | prepend: site.url }}"></script>
    {% endfor %}
</div>

